#navbar {
    transition: 1s;
}

.logo {
    width: 220px;
    margin-top: 3px;
}

.navbar_threeDot {
    display: none;
}

.navbar_links .nav_a {
    color: #ffffff;
    font-size: 17px;
    padding: 3px;
}

.navbar_links a:hover {
    width: 0;
    color: #ffc107;
    border-bottom: 1px solid #ffc107;
    transition: 0.5s ease;
}

@media only screen and (max-width: 1200px) {
    .logo {
        width: 230px;
    }
    .navbar_links {
        display: none;
    }
    .navbar_threeDot {
        display: block;
        cursor: pointer;
        margin: 15px;
    }
    .navbar_threeDotLine {
        padding: 1.5px;
        width: 30px;
        background-color: aliceblue;
        margin: 5px 0px;
    }

    .navbar_offcanvas_link a {
        color: black;
    }
    .navbar_offcanvas_link a:hover {
        color: orangered;
    }

    .off_canvas_a {
        color: black;
    }
    .off_canvas_a:hover {
        color: #ffc107;
    }
}

@media only screen and (max-width: 576px) {
    .logo {
        width: 200px;
    }
}

@media only screen and (max-width: 476px) {
    .logo {
        width: 180px;
    }
}

@media only screen and (max-width: 376px) {
    .logo {
        width: 150px;
    }
}
